.navbar {
  -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  transition: height 0.1s linear;
}

.nav-container.cont-sticky {
  height: 8rem !important;
}

.navbar-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}

.logo-img {
  width: 13rem;
  cursor: pointer;
}

.nav-links {
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links i {
  cursor: pointer;
}

/* hamburger menu */

.hamburger-menu {
  display: none;
  gap: 3rem;
}

.hamburger-hamb,
.hamburger-cart {
  font-size: 2.3rem;
  display: none;
  cursor: pointer;
}

.mobile-nav-full {
  background-color: #f3f3f3;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-flex {
  display: flex !important;
}

.closed-flex {
  display: none !important;
}

.mobile-nav-full i {
  font-size: 2.3rem;
  position: absolute;
  right: 25px;
  top: 49px;
  cursor: pointer;
}

.mobile-links {
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  top: 44%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.mobile-links a {
  color: black;
  text-decoration: none;
}

.mobile-links a:hover {
  text-decoration: underline;
}

/* cart */

.cart-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  padding: 3.5rem 2.5rem;
  background-color: white;
  height: 100vh;
  width: 43rem;
  transition: all 0.4s ease;
}

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  z-index: 888;
  transition: all 0.3s ease-in;
}

.cart-title-btn {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-title-btn i {
  font-size: 2.5rem;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 16rem;
  margin: 15rem auto;
}

.empty-cart p {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.empty-cart button {
  width: 100%;
  height: 4.4rem;
  font-size: 1.7rem;
  margin-top: 3rem;
  cursor: pointer;
}

.closed-cart {
  right: -100%;
}

.open-cart {
  right: 0;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-cart,
  .hamburger-hamb {
    display: flex;
  }

  .cart-div {
    width: 100%;
  }
}
